<!doctype html>
<html lang="en">
  <head>
    <title>Filter Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  </head>



<body>
   <div class="container" ng-app="filterChecker" ng-controller="checkFilter">
     <h1>Filter Test</h1>
  
      <p>Grayscale: <input type="range" ng-model="point"></p>
      <p>Opacity: <input type="range" ng-model="point2"></p>
      <p>Saturate: <input type="range" ng-model="point3"></p>


      <!-- <p>This is the value of the range: {{ point }}</p> -->

      <p>This is the image to be filtered: <img src="https://c.tadst.com/gfx/750w/sunrise-sunset-sun-calculator.jpg?1" ng-style="{
      filter: 'grayscale('+point+'%) opacity('+point2+'%) saturate('+point3+'%)'  }"/>


      </p>
   </div>


<script type="text/javascript" src="app.js"></script>
</body>
</html>